<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>```Title```</title>
        <link rel="stylesheet" href="```ServerUrl```/css/uikit.docs.min.css">
        <script src="```ServerUrl```/js/jquery.js"></script>
        <script src="```ServerUrl```/js/uikit.min.js"></script>
    </head>
    <body>
        <!-- Overall page cover -->
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            <!-- Navigation bar -->
            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="```ServerUrl```">```Title```</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li class="uk-active">
                        <a href="```VideoDefault_Url```">Videos</a>
                    </li>
                    <li>
                        <a href="#">Photos (Not supported yet)</a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">```Title```</div>
            </nav>

            <!-- Page Title -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <h1 class="uk-heading-large">Videos</h1>
                </div>
            </div>

            <!-- Videos or Photos -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">

                    <!-- Top Page Numbers! -->
                    <ul class="uk-subnav uk-subnav-pill">
                        ```Pages```
                    </ul>

                    <!-- Videos or Photos Contents -->
                    <ul id="switcher-content" class="uk-switcher">
                        <li class="uk-active">
                            <!-- A possible row depending on screen width -->
                            <div class="uk-grid" data-uk-grid-margin>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image0_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video0_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video0_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image1_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video1_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video1_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image2_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video2_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video2_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                             </div>

                             <!-- A possible row depending on screen width -->
                             <div class="uk-grid" data-uk-grid-margin>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image3_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video3_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video3_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image4_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video4_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video4_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image5_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video5_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video5_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                             </div>

                             <!-- A possible row depending on screen width -->
                             <div class="uk-grid" data-uk-grid-margin>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image6_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video6_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video6_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image7_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video7_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video7_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                                <!--- A video or photo -->
                                <div class="uk-width-medium-1-3">
                                    <div class="uk-thumbnail uk-overlay-hover">
                                        <figure class="uk-overlay">
                                            <img style="width:400px;height:300px;" src="```Image8_Url```" />
                                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade">```Video8_Caption```</figcaption>
                                            <a class="uk-position-cover" href="```Video8_Url```"></a>
                                        </figure>
                                    </div>
                                </div>
                             </div>
                        </li>
                    </ul>

                    <br />
                    <!-- Bottom Page Numbers! -->
                    <ul class="uk-subnav uk-subnav-pill">
                        ```Pages```
                    </ul>
					<br /><br /><br />
                </div>
            </div>
        </div>

        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-active">
                        <a href="```VideoDefault_Url```">Videos</a>
                    </li>
                    <li>
                        <a href="#">Photos (Not supported yet)</a>
                    </li>
                </ul>
            </div>
        </div>

    </body>
</html>